<html>
<head>
	<title>Survey Results</title>
	</head>
<body>
    <h2>Here are the results</h2><hr>
    <h3>Operating System: <%= os %></h3>
    <h3>Web Browser: <%= browser %></h3>
    <h3>Favorite Language: <%= favlang %></h3>
    <h3>Comments: <%= comment %></h3>
</body>

</html>
